.sidebarOptions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 0px;
  height: 100%;
  width: 15%;
  top: 60px;
  padding-top: 50px;
  background-image: url(http://localhost:3000/sidebar_background.png);
  background-size: 17%;
  background-attachment: fixed;
  position: fixed;
}

.sidebarOption {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebarOption:hover {
  border-radius: 5px;
  background-color: white;
}

.sidebarOption > img {
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
}

.sidebarOption > .MuiSvgIcon-root {
  font-size: medium;
  margin-left: 20px;
}

.sidebarOption > p {
  margin-left: 10px;
  color: darkslategray;
  font-weight: 400;
  font-size: 13px;
}

.sidebarOption > .text {
  margin-left: 23px;
  color: darkslategray;
  font-weight: 400;
  font-size: 13px;
}
