.widget {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 75vh;
  border-radius: 5px;
  top: 115px;
  background-image: url(http://localhost:3000/top_posts_background.png);
  background-size: cover;
  position: sticky;
}

.widget__header > h5 {
  text-align: center;
  padding: 10px;
  color: rgb(41, 25, 27);
  font-size: 15px;
  letter-spacing: 1.1px;
}

.widget__contents {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}
