@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');
.widget {
  flex: 0.2;
  margin-left: 20px;
  position: sticky;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  max-height: 85vh;
  background-image: url(http://localhost:3000/top_posts_background.png);
  background-size: cover;
}

.widget__header > h5 {
  text-align: center;
  color: white;
  padding: 10px;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1.1px;
}

.widget__contents {
  display: flex;
  flex-direction: column;
}
