.App {
  margin: 0;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  background-image: url(http://localhost:3000/pixel_background.png);
  background-size: cover;
  background-attachment: fixed;
}
